{% extends 'base.html.twig' %}

{% block description %}<meta name="description" content="Panier">{% endblock %}
{% block title %}Panier{% endblock %}

{% block main %}
    <h1>Contenu de votre panier</h1>
        {% if app.user %}
        {% if panier|length > 0 %}

    {% for item in panier %}

    <section class="container mb-2 d-flex border border-3 rounded" id="ctn_art">

        <article class="detail_responsive mt-2">
            <img class="img_panier col-6" src={{ asset("uploads/")}}{{ item.article.imageName }} alt="">
        </article>
        <article class="text-start col-4">
            <h2>{{ item.article.name }}</h2>
            <h3 id="prix">Prix</h3>
            <p>{{ item.article.price|number_format(2, ',', ' ') ~ ' €' }}</p>
            {# <td>{{ item.qte }}</td> #}
            <p>{{ (item.article.price * item.qte)|number_format(2, ',', ' ') }} €</p>


            <a href="{{ path('cart_delete', {id: item.article.id}) }}" class="command_del btn rounded-pill btn-danger menu mb-2" onclick="return confirm('Supprimer cet élément du panier ?');">Supprimer</a>

                                    
            {# <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" /> #}
        </article>

    </section>
                {% endfor %}
        <table  class="border border-3 rounded col-10 m-auto">       

                <tr>
                    <td><b>TOTAL</b></td>
                    {# <td>{{ totalQuantity }}</td> #}
                    <td>{{ total|number_format(2, ',', ' ') }} €</td>
                    <td class="col-6">
                        <form action="{{ path('checkout') }}" method="POST">
                            <button type="submit" class="command btn btn-primary rounded-pill mt-3 mb-3  ">Commander</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        {% else %}
        <p class="mb-5 mt-5"><b>Votre panier est vide !</b></p>
        {% endif %}

    {% else %}

    <section class="d-flex flex-column">
        <p>Veuillez vous connecter pour voir votre panier</p>
        <div class="container w-50">
        <a href="{{ path('app_login') }}" class="btn rounded-pill command w-25 m-auto">Connexion</a>
        </div>
    </section>

    {% endif %}
{% endblock %}