{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block main %}
    <h1>Veuillez entrer vos identifiants</h1>

    <div class="container">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.name)}}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword.first) }}
        {{ form_row(registrationForm.plainPassword.second) }}

        <button type="submit" class="btn btn-primary">Inscription</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
