{% extends 'base.html.twig' %}

{% block title %}Ajout de produits{% endblock %}

{% block body %}

{% block main %}


{% for message in app.flashes('products_add_success') %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Félicitations !</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}


<button onclick="window.location.href = '{{ path('products_show_all') }}';" id="command">Retour à l'administration</button>


<h1>Ajouter votre produit</h1>

<aside class="container w-50">

    {{ form_start(formProducts) }}
         {{ form_row(formProducts.name) }}
            {{ form_row(formProducts.price) }}
            {{ form_row(formProducts.description) }}
            {{ form_row(formProducts.category) }}
            {{ form_row(formProducts.imageFile)}}
    <input type="submit" id="command">       
    {{ form_end(formProducts)}}

</aside>

{% endblock %}
{% endblock %}
