{% extends "base.html.twig" %}

{% block description %}<meta name="description" content="Modification produit">{% endblock %}
{% block title %}Modification produit{% endblock %}

{% block main %}
    <h1>Modifier le produit</h1>
    <br>
    <div class="container">
        {{ form_start(formProducts) }}
            {{ form_row(formProducts.name) }}
                {{ form_row(formProducts.price) }}
                {{ form_row(formProducts.description) }}
                {{ form_row(formProducts.category) }}
                {{ form_row(formProducts.imageFile)}}
        <input type="submit" class="btn command rounded-pill transition-swipe">       
        {{ form_end(formProducts)}}
    </div>
{% endblock %}