{% extends "base.html.twig" %}

{% block title %}Natation-eco{% endblock %}


{% block main %}
    <h1 class="mb-5">Modifier le produit</h1>

    <table class="m-auto">
    <tbody class="bg-light">
    {% for products in products %}
        
        <tr class="border">
        <td><img class="image_admin" src={{ asset("uploads/")}}{{ products.imageName }} class="card-img-top" alt="image d'article"></td>
        <td><h5 class="card-title me-5 ms-5">{{ products.name}}</h5></td>
        <td>Prix : {{ products.price }} €</td>
        <td><a href="{{ path('products_show', {id: products.id}) }}" class="btn btn-primary me-3 mb-3 mt-3 ms-5">Détails</a></td>
        <td class="me-3 mt-3"><a href="{{ path('app_products_edit', {id: products.id}) }}" class="btn btn-primary me-3">Modifier</a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}