{% extends "base.html.twig" %}


{% block main %}

<h1 class="titre_resp">Détails</h1>

<section class="container mb-5" id="ctn_art">
    <article class="detail_responsive">
    <img id="img_article" src={{ asset("uploads/")}}{{ products.imageName }} alt="">
    </article>
    <article id="article">
        <h2>{{ products.name }}</h2>
        <h3 id="desc_art">Description du produit</h3>
        <p>{{ products.description}}</p>
        <h3 id="prix">Prix</h3>
        <p>{{ products.price }} €</p>
                                
        {# <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" /> #}
        <button class="btn_resp" onclick="window.location.href = '{{ path("cart_add", {id: products.id, origin:app.request.attributes.get('_route')}) }}';" id="command">Ajouter au panier</button>
    </article>



</section>


{% endblock %}