{% extends "base.html.twig" %}

{% block description %}<meta name="description" content="Détails produit">{% endblock %}
{% block title %}Détails produit{% endblock %}

{% block main %}

    {% for message in app.flashes('cart_add_success') %}
        <div class="alert alert-success alert-dismissible fade show mt-5" role="alert">
            <strong>Félicitations !</strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
            {% endfor %}


    <section class="container border border-1 d-md-flex pb-5 mt-5">
        <article class="">
            <img id="img_article" class="w-md-25 w-50" src="{{ asset("uploads/")}}{{ products.imageName }}" alt="">
        </article>
        <article id="article" class="text-start border border-2 p-2 mt-5 rounded-1">
            <h2>{{ products.name }}</h2>
            <h3 id="desc_art">Description du produit</h3>
            <p>{{ products.description}}</p>
            <h3 id="prix">Prix</h3>
            <p>{{ products.price }} €</p>

            {# <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" /> #}
            <a href="{{ path("cart_add", {id: products.id, origin:app.request.attributes.get('_route')}) }}" class="btn btn-primary rounded-pill command transition-swipe">Ajouter au panier</a>
        </article>
    </section>


{% endblock %}