{% extends "base.html.twig" %}

{% block description %}<meta name="description" content="Détails produit">{% endblock %}
{% block title %}Détails produit{% endblock %}

{% block main %}

    {% for message in app.flashes('cart_add_success') %}
        <div class="alert alert-success alert-dismissible fade show mt-5" role="alert">
            <strong>Félicitations !</strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
            {% endfor %}

    <h1 class="titre_resp">Détails</h1>

    <section class="container mb-5" id="ctn_art">
        <article class="detail_responsive">
            <img id="img_article" src={{ asset("uploads/")}}{{ products.imageName }} alt="">
        </article>
        <article id="article">
            <h2>{{ products.name }}</h2>
            <h3 id="desc_art">Description du produit</h3>
            <p>{{ products.description}}</p>
            <h3 id="prix">Prix</h3>
            <p>{{ products.price }} €</p>
                                    
            {# <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" /> #}
            <a href="{{ path("cart_add", {id: products.id, origin:app.request.attributes.get('_route')}) }}" class="btn btn-primary rounded-pill command transition-swipe">Ajouter au panier</a>
        </article>
    </section>

{% endblock %}