{% extends 'base.html.twig' %}

{% block description %}<meta name="description" content="Page de contact">{% endblock %}
{% block title %}Page de contact{% endblock %}

{% block main %}

    {{ form_start(formContact) }}
        {{ form_row(formContact.email)}}
        {{ form_row(formContact.objet) }}
        {{ form_row(formContact.message) }}

        <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(formContact) }}

{% endblock %}