{% extends "base.html.twig" %}


    {% block main %}
    <main>
        {% for message in app.flashes('user_edit_ok') %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Félicitation !</strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %} 
        {% for message in app.flashes('user_delete_ok') %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Félicitation !</strong> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% for message in app.flashes('user_add_success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Félicitation !</strong> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% for message in app.flashes('products_add_success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Félicitation !</strong> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

        <h1>Bienvenue sur natation-eco.fr</h1>
        <section>
            <article>
                <p class="contenant">
                    <a href="{{ path('club') }}"><img src={{ asset("media/club.jpg")}} alt="le club" class="accueil-img"></a>
                    <a class="texte_centrer" href="">Le club</a>
                </p>
            </article>
        </section>
        <section>
            <p class="contenant">
                <a href="{{ path('femme')}}"><img src={{ asset("media/article-femme.jpg")}} alt="maillots de bain femme" class="accueil-img"></a>
                <a class="texte_centrer" href="">Maillots de bain femme</a>
            </p>
            <p class="contenant">
                <a href="{{ path('homme')}}"><img src={{ asset("media/article-homme.jpg")}} alt="maillots de bain homme" class="accueil-img"></a>
                <a class="texte_centrer" href="">Maillots de bain homme</a>
            </p>
        </section>
        <section>
            <p class="contenant">
                <a href="{{ path('nutrition')}}"><img src={{ asset("media/nutrition.jpg")}} alt="nutrition" class="accueil-img"></a>
                <a class="texte_centrer" href="">Nutrition</a>
            </p>
            <p class="contenant">
                <a href="{{ path('equipement')}}"><img src={{ asset("media/equipement.jpg")}} alt="equipement" class="accueil-img"></a>
                <a class="texte_centrer" href="">Equipement</a>
            </p>
        </section>
        <hr>
            <h3 class="mt-5">Ces articles pourraient vous intéresser</h3>
        <section>
            <hr>
        </section>
            <aside id="carousel" class="carousel mb-5" data-flickity='{ "autoPlay": true, "wrapAround": true, "autoPlay": true, "cellAlign": "left", "contain": true }'>

                    <img src={{ asset("media/Article_femme/maillot_1.jpg")}}  alt="Maillot 1" class="carousel-cell">

                    <img src={{ asset("media/Article_femme/maillot_2.jpg")}}  alt="Maillot 2" class="carousel-cell">

                    <img src={{ asset("media/Article_femme/maillot_3.jpg")}}  alt="Maillot 3" class="carousel-cell">
                                        
                    <img src={{ asset("media/Article_femme/maillot_1.jpg")}}  alt="Maillot 1" class="carousel-cell">

                    <img src={{ asset("media/Article_femme/maillot_2.jpg")}}  alt="Maillot 2" class="carousel-cell">

                    <img src={{ asset("media/Article_femme/maillot_3.jpg")}}  alt="Maillot 3" class="carousel-cell">
                    {# <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> #}

            </aside>
    </main>
{% endblock %}