{% extends "base.html.twig" %}


{% block main %}

<h1>Articles femmes</h1>



    {% for product in product %}
                <aside class="card carousel-cell" style="width: 18rem;">
                    <img src={{ asset("uploads/")}}{{ product.imageName }} class="card-img-top" alt="image d'article">
                    <aside class="card-body">
                        <h5 class="card-title">{{ product.name}}</h5>
                        <p>Prix : {{ product.price }} €</p>
                        <a href="{{ path('products_show', {id: product.id}) }}" class="btn btn-primary">Détails</a>
                    </aside> 
                </aside>
    {% endfor %}


{# <section class="container" id="ctn_art">

<img id="img_article" src={{ asset("uploads/")}}{{ products.imageName }} alt="">

<article id="article">
<h2>{{ products.name }}</h2>
<h3 id="desc_art">Description du produit</h3>
<p>{{ products.description}}</p>
<h3 id="prix">Prix</h3>
<p>{{ products.price }} €</p>

<button type="submit" id="command">Ajouter au panier</button>
</article>



</section> #}


{% endblock %}