{% extends "base.html.twig" %}


{% block main %}

<h1>Articles femmes</h1>



{% for product in product %}
                <section class="d-inline-flex m-5">
                <aside class="card" style="width: 18rem;">
                    <img src={{ asset("uploads/")}}{{ product.imageName }} class="card-img-top" alt="image d'article">
                    <aside class="card-body">
                        <h5 class="card-title">{{ product.name}}</h5>
                        <p>Prix : {{ product.price }} €</p>
                        <a href="{{ path('products_show', {id: product.id}) }}" class="btn btn-primary" style="text-transform:none;">Détails</a>
                        {# <button onclick="window.location.href = '{{ path("cart_add", {id: product.id, origin:app.request.attributes.get('_route')}) }}';" id="command">Ajouter au panier</button> #}
                    </aside> 
                </aside>
                </section>
    {% endfor %}
{% endblock %}