<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Natation-eco{% endblock %}</title>
        
        {# CSS BOOTSTRAP 5 #}

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        
        {# CSS Personnalisé #}

        <link rel="stylesheet" href="{{ asset("css/style.css") }}">

        {# CSS Carousel #}

        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
        
        <link rel="shortcut icon" href={{ asset("media/logo.svg") }} type="image/x-icon">
        
        <link rel="stylesheet" href="{{ asset("js/script.js") }}">

        {% block css %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>

		<header  class="d-flex flex-row">
			<div class="d-flex flex-column w-50" style="background: linear-gradient(to right, white, rgb(255, 255, 255, 0));">
				<a href="{{ path('index') }}"><img id="logo"  style="height: 200px;" src={{ asset ("media/logo.svg") }} alt="logo"></a>
				<a id="index" class="ms-4 fw-bolder d-none d-lg-block" href="{{ path('index') }}">natation-eco.fr</a>
			</div>
		</header>

		<nav class="navbar navbar-expand-lg d-flex justify-content-around" style="background-color:#707070;">
            <div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" aria-current="page" href="{{ path('club') }}">Le club</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" href="{{ path('equipement_show', {id:4}) }}">Equipement</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-uppercase" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Maillots de bain
                            </a>
                        <ul class="dropdown-menu">
                            <li><a class=" dropdown-item text-uppercase" href="{{ path('homme_show', {id: 1}) }}">Homme</a></li>
                            <li><a class="dropdown-item text-uppercase" href="{{ path('femme_show', {id: 2}) }}">Femme</a></li>
                        </ul>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" href="{{ path('nutrition_show',{id: 3}) }}">Nutrition</a>
                        </li>
                        <div class="row align-self-center">
                        {% if is_granted('ROLE_USER') %}
                        <li>
                            <a  href="{{ path('user_show',{id: app.user.id}) }}"><img class="ms-2 icone" src={{ asset("media/compte.png") }} alt="Mon compte"></a>
                            <a  href="{{ path('cart_index') }}"><img class=" ms-2 icone" src={{ asset("media/panier.png") }} alt="Panier"></a>
                            {% if is_granted('ROLE_ADMIN') %}
                            <a  href="{{ path('products_show_all') }}"><img class="ms-2 icone" src={{ asset("media/admin.svg") }} alt="Mon compte"></a>
                            {% endif %}
                        </li>
                        {% else %}
                        <li>
                            <a  href="{{ path('app_login') }}"><img class="ms-2 icone" src={{ asset("media/compte.png") }} alt="Mon compte"></a>
                            <a  href="{{ path('cart_index') }}"><img class="ms-2 icone" src={{ asset("media/panier.png") }} alt="Panier"></a>
                        </li>
                        {% endif %}
                        </div>
                    </ul>
                </div>
            </div>
	    </nav>
            
        {#====================== Navbar sur le côté ========================#}
        
        <div class="position-fixed mt-5" id="nav_bar">
            <div class="m-auto">
                <a  href="{{ path('club') }}"><img class="icone_nav_bar mt-1" src={{ asset("media/club.png") }} alt="Club"></a>
                <hr>
                {% if is_granted('ROLE_USER') %}
                <a  href="{{ path('user_show',{id: app.user.id}) }}"><img class="icone_nav_bar" src={{ asset("media/compte.png") }} alt="Mon compte"></a>
                {% else %}
                <a  href="{{ path('app_login') }}"><img class="icone_nav_bar" src={{ asset("media/compte.png") }} alt="Mon compte"></a>
                {% endif %}
                <hr>
                <a  href="{{ path('cart_index') }}"><img class="icone_nav_bar mb-1" src={{ asset("media/panier.png") }} alt="Panier"></a>
            </div>
        </div>

        {#====================== Navbar sur le côté ========================#}
    

    <main>
    {% block main %}{% endblock %}
    
    {# Javascript personnalisé #}
    
    <script src="{{ asset("js/script.js") }}"></script>
    
    {# Javascript BOOTSTRAP #}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    
    {# Javascript carousel #}

    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

    </main>
    <footer class="m-auto">
        <section class="d-flex m-auto">
            <h6 class="d-none">Titre caché</h6>
            <a id="logo_footer" class="m-auto" href="{{ path('index') }}"><img style="width:150px" class="m-auto" src={{ asset("media/logo.svg") }} alt="logo"></a>
        </section>
        {% if is_granted('ROLE_USER') %}
        
        <aside class="d-flex justify-content-center mt-5 mb-5">
            <a href="{{ path('app_logout') }}" class="btn rounded-pill command">Se déconnecter</a>
        </aside>
        {% endif %}
        <hr>
        <p class="text-center">
            &copy; natation-eco.fr 2022. – Tous droits réservés. – Mentions légales – 
            <a href="{{ path('app_cgv')}}">Conditions générales de vente</a>
        </p>
    {% block footer %}{% endblock %}
    </footer> 
    </body>
</html>