<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Natation-eco{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        {# CSS BOOTSTRAP 5 #}

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        
        {# CSS Personnalisé #}

        <link rel="stylesheet" href="{{ asset("css/style.css") }}">

        {# CSS Carousel #}

        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
        
        <link rel="shortcut icon" href={{ asset("media/logo.svg") }} type="image/x-icon">
        
        <link rel="stylesheet" href="{{ asset("js/script.js") }}">

        {% block css %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    

    <header>

        <p id="fond_logo">
            <a href="{{ path('index') }}"><img id="logo" src={{ asset ("media/logo.svg") }} alt="logo"></a>
            <a id="index" href="{{ path('index') }}">natation-eco.fr</a>
        </p>    
        <nav>
            <a class="nav" href="{{ path('club') }}">Le club</a>
            <a class="nav" href="{{ path('equipement') }}">Equipements</a>


        {# ==================================== Menu Déroulant ================================= #}

            <div class="dropdown" >
                <button onclick="myFunction()" class="dropbtn">Maillots de bain</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="{{ path('homme_show', {id: 1}) }}">Homme</a>
                    <a href="{{ path('femme_show', {id: 2}) }}">Femme</a>
                </div>
            </div> 

        {# ==================================== Menu Déroulant ================================= #}

            <a class="nav" href="{{ path('nutrition') }}">Nutrition</a>
            
            {% if is_granted('ROLE_USER') %}
                <div>
                    <a  href="{{ path('user_show',{id: app.user.id}) }}"><img class="icone" src={{ asset("media/compte.png") }} alt="Mon compte"></a>
                    <a  href="{{ path('panier') }}"><img class="icone" src={{ asset("media/panier.png") }} alt="Panier"></a>
            {% if is_granted('ROLE_ADMIN') %}
                    <a  href="{{ path('app_admin') }}"><img class="icone" src={{ asset("media/admin.svg") }} alt="Mon compte"></a>
            {% endif %}
                </div>
            {% else %}
                <div>
                    <a  href="{{ path('app_login') }}"><img class="icone" src={{ asset("media/compte.png") }} alt="Mon compte"></a>
                    <a  href="{{ path('panier') }}"><img class="icone" src={{ asset("media/panier.png") }} alt="Panier"></a>
                </div>
            {% endif %}
        </nav>
        {#====================== Navbar sur le côté ========================#}
        
        <div id="nav_bar">
            <a  href="{{ path('club') }}"><img id="icone_nav_bar" src={{ asset("media/club.png") }} alt="Club"></a>
            <hr>
            {% if is_granted('ROLE_USER') %}
            <a  href="{{ path('user_show',{id: app.user.id}) }}"><img id="icone_nav_bar" src={{ asset("media/compte.png") }} alt="Mon compte"></a>
            {% else %}
            <a  href="{{ path('app_login') }}"><img id="icone_nav_bar" src={{ asset("media/compte.png") }} alt="Mon compte"></a>
            {% endif %}
            <hr>
            <a  href="{{ path('panier') }}"><img id="icone_nav_bar" src={{ asset("media/panier.png") }} alt="Panier"></a>
        </div>

        {#====================== Navbar sur le côté ========================#}
    </header>

    <main>
    {% block main %}{% endblock %}
    
    {# Javascript personnalisé #}
    
    <script src="{{ asset("js/script.js") }}"></script>
    
    {# Javascript BOOTSTRAP #}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    
    {# Javascript carousel #}

    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

    </main>
    <footer>
        <a href="{{ path('index') }}"><img id="logo_footer" src={{ asset("media/logo.svg") }} alt="logo"></a>
        {# <a href="{{ path('app_logout') }}">Se déconnecter</a> #}
        <hr>
        <p>&copy; natation-eco.fr 2022. – Tous droits réservés. – Mentions légales – Conditions générales – Gestion des cookies </p>
    </footer> 
    </body>
</html>