{% extends "base.html.twig" %}

{% block description %}<meta name="description" content="Inscription">{% endblock %}
{% block title %}Inscription{% endblock %}


{% block main %}

        <h1>Formulaire d'inscription</h1>
    <div class="container">
        <br>
        {{ form_start(formUser) }}
           <p>{{ form_row(formUser.name) }}</p> 
           <p>{{ form_row(formUser.email) }}</p> 
           <p>{{ form_row(formUser.password) }}</p> 

            <button type="submit" value="Enregistrer" class="command">S'inscrire</button>
        {{ form_end(formUser) }}
    </div>

{% endblock %}