{% extends "accueil.html.twig" %}


{% block title %}Natation-eco{% endblock %}


{% block main %}
    <h1>Mon compte</h1>
    <section class="container" id="ctn_compte">
        <img id="img_compte" src="{{ asset('media/compte/profil_default.jpg') }}" alt="">

        <article id="article">
            <h2>Bonjour {{ user.name }}</h2>

            <h3 id="desc_art">Vos informations</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, quos.</p>

            <h3 id="desc_art">Nom</h3>
            <p>{{ user.name }}</p>

            <h3 id="desc_art">Mail</h3>
            <p>{{ user.email }}</p>

            <h3 id="desc_art">Adresse</h3>
            <p>Rue</p>
            <p>Ville</p>
            <p>Tel</p>

            <section class="mb-5 mt-5">
                <article>
                    <button onclick="window.location.href = '{{ path('user_edit',{id: app.user.id}) }}';" id="command">Modifier mes informations</button>
                </article>
                <article>
                    <button onclick="window.location.href = '{{ path('user_delete',{id: app.user.id}) }}';" id="command">Modifier mon mot de passe</button>
                </article>
                <article>
                    <button onclick="confirm('Etes-vous sûr de vouloir supprimer votre compte (cette action est irréversible)?'); window.location.href = '{{ path('user_delete',{id: app.user.id}) }}';" id="command">Supprimer mon compte</button>
                </article>
            </section>
        </article>
    </section>


{% endblock %}

