{% extends 'accueil.html.twig' %}

{% block description %}<meta name="description" content="Mon compte">{% endblock %}
{% block title %}Mon compte{% endblock %}

{% block main %}
    <h1>Mon compte</h1>
    <section class="mx-auto container d-flex justify-content-center col-12">
        <article class="text-start col-6">
            <h2 class="text-nowrap">Bonjour {{ user.name }}</h2>

            <h3 class="text-nowrap">Vos informations</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, quos.</p>

            <h3>Nom</h3>
            <p>{{ user.name }}</p>

            <h3>Mail</h3>
            <p>{{ user.email }}</p>
        </article>

        <aside class="user_desktop col-3 d-flex flex-column">
            <a href="{{ path('user_edit', { id: app.user.id }) }}" class="btn rounded-pill command mb-2 transition-swipe" style="text-transform:none;">Modifier mes informations</a>
            <a href="{{ path('app_forgot_password_request', { id: app.user.id }) }}" class="mb-2 btn rounded-pill command transition-swipe">Modifier mon mot de passe</a>
            <a href="{{ path('user_delete', { id: app.user.id }) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer votre compte (cette action est irréversible)?')" class="mb-2 btn command_del rounded-pill bg-danger transition-swipe">Supprimer mon compte</a>
        </aside>
    </section>
    <aside class="user_mobile col-6 d-flex flex-column m-auto">
        <a href="{{ path('user_edit', { id: app.user.id }) }}" class="btn rounded-pill command mb-2 text-nowrap transition-swipe" style="text-transform:none;">Modifier mes informations</a>
        <a href="{{ path('app_forgot_password_request', { id: app.user.id }) }}" class="mb-2 btn rounded-pill command text-nowrap transition-swipe">Modifier mon mot de passe</a>
        <a href="{{ path('user_delete', { id: app.user.id }) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer votre compte (cette action est irréversible)?')" class="mb-2 btn command_del rounded-pill bg-danger transition-swipe">Supprimer mon compte</a>
    </aside>
{% endblock %}
