{% extends "accueil.html.twig" %}


{% block title %}Natation-eco{% endblock %}


{% block main %}
    <h1>Mon compte</h1>
    {# {% for user in user %} #}
    <section class="container" id="ctn_compte">
    <img id="img_compte" src="{{ asset('media/compte/profil_default.jpg') }}" alt="">

    <article id="article">
    <h2>Bonjour {{ user.name }}</h2>

    <h3 id="desc_art">Vos informations</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, quos.</p>

    <h3 id="desc_art">Nom</h3>
    <p>{{ user.name }}</p>

    <h3 id="desc_art">Mail</h3>
    <p>{{ user.email }}</p>

    <h3 id="desc_art">Adresse</h3>
    <p>Rue</p>
    <p>Ville</p>
    <p>Tel</p>

    <div>
    <a href="{{ path('user_edit',{id: app.user.id}) }}" id="command" style="text-transform: lowercase; text-transform: capitalize;"> Modifier mes informations</a>
    <a href="{{ path('user_delete',{id: app.user.id}) }}" id="command" style="text-transform: lowercase; text-transform: capitalize;" onclick="return confirm('Etes-vous sûr de vouloir supprimer votre compte (cette action est irréversible)?');"> 
    Supprimer votre compte
    </a>
    <a href="{{ path('app_forgot_password_request',{id: app.user.id}) }}" id="command" style="text-transform: lowercase; text-transform: capitalize;">Modifier votre mot de passe</a>

    
    </div>
    </article>

    </section>

    {# {% endfor %} #}

{% endblock %}

