{% extends "base.html.twig" %}

{% block title %}Natation-eco{% endblock %}


{% block main %}
    <h1>Modifier vos informations</h1>
    <br>
    
    <div class="container">
    {{ form_start(formUser) }}
        <p>{{ form_row(formUser.name) }}</p> 
        <p>{{ form_row(formUser.email) }}</p> 
        <p>{{ form_row(formUser.password) }}</p> 
        <button type="submit" value="Enregistrer" class="btn btn-primary mb-5">Modifier</button>
    {{ form_end(formUser) }}
    </div>
{% endblock %}