{% extends "base.html.twig" %}

{% block description %}<meta name="description" content="Modifier vos informations">{% endblock %}
{% block title %}Modifier vos informations{% endblock %}

{% block main %}
    <h1>Modifier vos informations</h1>
    <br>
    
    <div class="container w-25">
    {{ form_start(formUser) }}
        {{ form_row(formUser.name) }}
        {{ form_row(formUser.email) }}
        {# <p>{{ form_row(formUser.password) }}</p>  #}
        <button type="submit" value="Enregistrer" class="btn command mb-5 rounded-pill transition-swipe">Modifier</button>
    {{ form_end(formUser) }}
    </div>
{% endblock %}